body {
    background-color: black;
    color: floralwhite;
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto auto;
}

#mainTitle {
    grid-column-start: 2;
    text-align: center;
}
 
#gameWindow {
    width: 800px;
    height: 560px;
    grid-column-start: 2;
    background-color: blue;
}
